@import "reset.scss";
@import "variables.scss";
@import "registration.scss";
@import "form.scss";

.main {
  &-page {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px 0 150px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: inline-block;
}

.filters-group {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 20px 0;
  &__input {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: $bg-light-gray-2;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: #000;
  }

  &__button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #f55c47;
  }
}

.table {
  &__header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    height: 60px;
    background-color: $text-light-gray;
    text-align: center;
    padding: 20px 5px;
    font-size: 1.6rem;
    color: $bg-purple;
    border: 1px solid $text-white;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4),
    &:nth-child(5) {
      width: 15%;
    }
    &:nth-child(6),
    &:nth-child(7) {
      width: 10%;
    }
    &:nth-child(8),
    &:nth-child(9) {
      width: 15%;
    }
    &:nth-child(10) {
      width: 10%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      background-color: $bg-light-gray-2;
      overflow: auto;
    }
  }
}

.hidden {
  display: none !important;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > input[type="radio"]:checked + label {
  background-color: $bg-purple;
  color: $bg-light-gray-2;
}

.tabs > .content {
  display: none;
  padding: 10px 15px;
  border-radius: 4px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $text-purple-light;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-left: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs > label:first-of-type {
  margin-left: 0;
}

#content-2 {
  background-color: $bg-light-gray-2;
  color: $bg-black;
  font-size: 1.4rem;
  font-family: $main-font;
  text-align: center;
}

.content {
  &__title {
    margin: 10px 0 30px;
    font-size: 2.4rem;
  }
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-radio:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.radio {
  margin-bottom: 0.4em;
}

.btn-container {
  width: 300px;
  margin: 30px auto;
}

.settings__modal {

  .exit {
    width: 100%;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    .exit:hover {
      color: black;
      background-color: white;
      transition-duration: 1s;
    }
    .exit button {
      border: 1px white solid;
    }
  }
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  top: 10px;
  transition-duration: 3s;
  width: 100%;
  .setting__content {
    border-radius: 10px;
    margin-top: 90px;
    width: 40%;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .setting__field {
      height: 300px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      width: 40%;
      .setting__item-input {
        border: 1px solid white;
      }
    }
  }
}
