@import "variables.scss";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
  height: 100%;
}

body {
  background-color: $body-bg-color;
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  height: 100%;

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  display: block;
  height: auto;
  width: 100%;
}

button,
input {
  background-color: transparent;
  border-radius: 0;
  border-style: none;
  color: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    outline: none;
  }
}

button {
  cursor: pointer;
}

input {
  appearance: none;
}
