$main-font: "Roboto", sans-serif;

// Text Colors
$text-purple: #854777;
$text-gray: #333;
$text-gray-2: #666;
$text-gray-3: #1d191f;
$text-white: #fff;
$text-light-gray: #f6f6f6;
$text-light-gray-2: #fffcf8;
$text-black: #000;

$html-font-size: 10px;
$body-font-color: $text-gray;
$body-bg-color: $text-pink;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-fw-md: 500;
$body-lh: 1;
