$main-font: "Roboto", sans-serif;

// Text Colors
$bg-black: #000;
$bg-purple: #301b3f;
$bg-light-blue: #1eae98;
$text-purple-light: #b4a5a5;
$text-pink: #f29191;
$text-light-gray: #c4c4c4;
$text-white: #fff;

$html-font-size: 10px;
$body-font-color: $text-white;
$body-bg-color: $bg-black;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-fw-md: 500;
$body-lh: 1;
