<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!--        PRODUCTION CONFIGURATION-->
        <property name="connection.url">jdbc:postgresql://ec2-54-155-87-214.eu-west-1.compute.amazonaws.com:5432/d3dhbnnbhpdelm</property>
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="connection.username">eozkzwdrrpulvx</property>
        <property name="connection.password">3d94d6e1d0da6fb61d549ea31aa3554bd78ecc42cb665ec52d37a59fa3529991</property>

        <!--        LOCAL (docker-compose) CONFIGURATION-->
<!--        <property name="connection.url">jdbc:postgresql://localhost:5431/</property>-->
<!--        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>-->
<!--        <property name="connection.username">postgres</property>-->
<!--        <property name="connection.password">postgres</property>-->

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

    </session-factory>
</hibernate-configuration>